In [1]:
import scipy
import pickle
import warnings
import pydotplus
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import tree
from sklearn import metrics
import matplotlib.pyplot as plt
from IPython.display import Image
import os 
import sys

In [2]:
%matplotlib inline
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

Let's explore the data that we have trained the model using mlflow which are saved.

In [6]:
test_feature = pd.read_csv("../features/test_features.csv")
test_feature.head(5)

   experiment  hour  date_of_week  date_of_month  device_make  platform_os  browser
0           1     0             4             10           10            1        1
1           1    21             3              9            0            1        0
2           0    15             4              3            0            1        0
3           1     3             2              8            0            1        0
4           1    20             3              9            0            1        0

In [7]:
test_labels = pd.read_csv("../features/test_labels.csv")
test_labels.head(5)

   aware
0      1
1      0
2      0
3      0
4      1

In [9]:
feature_columns = [f.replace('_', ' ').capitalize() for f in test_feature]
feature_columns

['Experiment',
 'Hour',
 'Date of week',
 'Date of month',
 'Device make',
 'Platform os',
 'Browser']

In [10]:
test_feature

     experiment  hour  date_of_week  date_of_month  device_make  platform_os  browser
0             1     0             4             10           10            1        1
1             1    21             3              9            0            1        0
2             0    15             4              3            0            1        0
3             1     3             2              8            0            1        0
4             1    20             3              9            0            1        0
..          ...   ...           ...            ...          ...          ...      ...
120           1    10             4              3            0            1        0
121           1     4             0              6            0            1        0
122           1    21             6              5            0            1        0
123           1    21             3              9            0            1        1
124           0    15             4              3            0            1        0

[125 rows x 7 columns]

In [11]:
def plot_confusion_metrics(actual, y_preds):
  plt.figure(figsize=(8, 6))
  cf_matrix = metrics.confusion_matrix(actual, y_preds)
  sns.heatmap(cf_matrix / np.sum(cf_matrix), annot=True, fmt='.2%', cmap='Blues')
  plt.title('Confusion matrix', fontsize=15, fontweight='bold')
  plt.ylabel('Actual', fontsize=14)
  plt.xlabel('Predicted', fontsize=14)
  plt.show()

In [12]:
def plot_confusion_metrics(actual, y_preds):
  plt.figure(figsize=(8, 6))
  cf_matrix = metrics.confusion_matrix(actual, y_preds)
  sns.heatmap(cf_matrix / np.sum(cf_matrix), annot=True, fmt='.2%', cmap='Blues')
  plt.title('Confusion matrix', fontsize=15, fontweight='bold')
  plt.ylabel('Actual', fontsize=14)
  plt.xlabel('Predicted', fontsize=14)
  plt.show()

In [13]:
model = pickle.load(open("../models/logistic_model.pickle", "rb"))
model

FileNotFoundError: [Errno 2] No such file or directory: '../models/logistic_model.pickle'